<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">Community Outreach</span>
	        </h2>
	    </div>
	</div>
	<div class="row center">
	        <h2>Our Commitment</h2>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div style="margin-bottom: 15px;">
	        <p>RPI Ambulance is dedicated to educating and serving the community, and encourages greater knowledge of emergency medicine and other health and safety resources. RPI Ambulance has held training events with RPI's ROTC groups, Greek houses, and Residence Life, as well as off campus organizations, such as the Boy Scouts of America. If your organization is interested in hosting RPI Ambulance or collaborating in community outreach, please contact us.</p>
	    </div>
	</div>
	<div class="row center">
	        <h2>ROTC First Aid Workshop</h2>
	</div>
	<div class="d-flex justify-content-center">
		<img style="width: 50%; margin-bottom: 30px;" src="img/new_fleet.jpg" alt="ROTC First Aid Workshop"  src="assets/ROTC.jpg" align="center">
	</div>
	<div class="row center">
	        <h2>Empire Service Dogs</h2>
	</div>
	<div class="d-flex justify-content-center">
		<img style="width: 50%; margin-bottom: 30px;" src="img/new_fleet.jpg" alt="ROTC First Aid Workshop"  src="assets/EmpireService.jpg" align="center">
	</div>
	<div class="row center">
	        <h2>Mohawk-Hudson Marathon</h2>
	</div>
	<div class="d-flex justify-content-center">
		<img style="width: 50%; margin-bottom: 30px;" src="img/new_fleet.jpg" alt="ROTC First Aid Workshop"  src="assets/marathon.jpg" align="center">
	</div>
	<div class="row center">
	        <h2>National CPR Day</h2>
	</div>
	<div class="d-flex justify-content-center">
		<img style="width: 50%; margin-bottom: 30px;" src="img/new_fleet.jpg" alt="ROTC First Aid Workshop"  src="assets/CPR.jpg" align="center">
	</div>
</div>