.env
.DS_Store

# Angular app ignore
angular-app/dist
angular-app/.env
angular-app/node_modules
angular-app/.angular

# Backend ignore (secrets)
backend/appsettings.Development.json
backend/appsettings.json
backend/bin
backend/.idea
backend/obj
/node_modules
