<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">Attendant Training</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Attendant Training</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <p class="">The position of Attendant is the first goal of all new RPIA members. As an Attendant, members may assist with patient care on calls. A short class is part of the requirement of Attendant training. The goal of attendant training is to enable new members to assist the crew chief during calls. As such, you will learn how to take vitals, use treatment equipment, and how to safely move a patient.</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px; margin-top: 20px;">
	    <div class="row justify-content-left">
	        <h2>Attendant Forms</h2>
	    </div>
	    <div style="margin-bottom: 100px; margin-top: 20px;">
	        <iframe src="https://drive.google.com/embeddedfolderview?id=1arXqLN6_DH_8yt33dOeMze7bY3iDu12H#list" width="100%" height="200" frameborder="0"></iframe>
	    </div>
	</div>
</div>