<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">Apparatus</span>
	        </h2>
	    </div>
	</div>
	<!-- 5939 -->
	<div style="margin-left: 40px; margin-right: 40px;">
		<div class="row center">
	        <h2>Ambulance 5939</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>RPI Ambulance operates a 2024 AEV Trauma Hawk Type III ambulance mounted on a Ford E-350 chassis. This vehicle was placed in service in August of 2024. The county vehicle identifier is 5939. 5939 is the second box ambulance operated by RPI Ambulance, with the last being from the mid 1980s.</p>
	    </div>
	</div>
	<div class="d-flex justify-content-center">
		<img style="width: 50%; margin-bottom: 30px;" src="img/new_fleet.jpg" alt="RPI Ambulance's Fleet"  src="assets/5939-2024.jpg" align="center">
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
		<div class="row center">
	        <h2>Past Ambulances</h2>
	    </div>
	    <div style="margin-bottom: 0px;">
	        <p>In the summer of 2024, a new 5939 was delivered to replace the aging 5939, which had served the agency for 17 years since its delivery in 2007. It replaced ambulance A-39, its predecessor which was also a type II van style ambulance. A-39 had proudly served the agency for 10 years before being retired. The agency has also operated several other ambulances, the first of which is rumored to have been given to RPI Ambulance when members saved a member of the faculty from choking in one of the dining halls.</p>
	    </div>
	</div>

	<!-- Divider -->
	<div class="d-flex justify-content-center">
		<hr class="my-5 bg-dark" style="height: 4px; width: 60%; opacity: 0.6;">
	</div>

	<!-- FR 59 -->
	<div style="margin-left: 40px; margin-right: 40px;">
		<div class="row center">
	        <h2>First Response 59</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>First Response 59 is RPI Ambulance's first response vehicle. It is a 2007 Ford Explorer that was first placed in service with the agency in October of 2014. FR-59 is equipped to NYS Part 800.26 with a full complement of disposable medical supplies, splints, epinephrine, a glucometer and a foldable backboard. During night crews, it serves to transport the crew from our office to our garage where the ambulance is parked.</p>
	    </div>
	</div>
	<div class="d-flex justify-content-center">
		<img style="width: 50%; margin-bottom: 30px;" src="img/new_fleet.jpg" alt="RPI Ambulance's Fleet"  src="assets/fr-59.jpg" align="center">
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
		<div class="row center">
	        <h2>History of FR-59</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>In 2011 discussion of acquiring a First Response type vehicle was brought up by the membership and supported by the RPI Administration. Initially the vehicle was to be a new SUV with hybrid engine technology to support RPI's Green Initiatives. However due to budget constraints and the fact that adding a new vehicle to the RPI Ambulance family would be a major change to the agency's operations, it was decided that a Subaru Forester would be converted to a full Emergency Ambulance Service Vehicle. The Forester was first placed in service in May of 2012. It unfortunately did not take long for the Forester to be plagued by various mechanical problems. So, in Spring of 2014, the agency began the search for a new first response vehicle. After testing several different options, it was decided that the 2007 Ford Explorer would be the newest addition to the RPIA fleet.</p>
	    </div>
	</div>
	<div class="row center">
	        <h2>Old First Response 59</h2>
	    </div>
	<div class="d-flex justify-content-center">
		<img style="width: 50%; margin-bottom: 40px;" src="img/new_fleet.jpg" alt="RPI Ambulance's Fleet"  src="assets/fr-59-old.jpg" align="center">
	</div>
</div>