<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">In Service Training</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>In Service Training</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <p class="">In Service trainings are those conducted by the agency that allow you to perform certain treatments (such as albuterol, aspirin, epinephrine, or narcan administration). These will be conducted for EMTs pursuing Crew Chief credentialing.</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px; margin-top: 20px;">
	    <div class="row center">
	        <h2>New York State DOH Documents</h2>
	    </div>
	    <div class="row center" style="margin-bottom: 20px; margin-top: 20px;">
	        <iframe src="https://drive.google.com/embeddedfolderview?id=1xK3c71AHyGNBoNSz1Lti6EuZtk72fHUG#list" width="650" height="400" frameborder="0"></iframe>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px; margin-top: 20px; margin-bottom: 100px;">
	    <div class="row center">
	        <h2>RPI Ambulance Documents</h2>
	    </div>
	    <div class="row center" style="margin-bottom: 20px; margin-top: 20px;">
	        <iframe src="https://drive.google.com/embeddedfolderview?id=1h4v8WH_MqQWKYYThC1Vy7yvmkv6j1HGX#list" width="650" height="400" frameborder="0"></iframe>
	    </div>
	</div>
</div>