<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">Grievance Committee Report</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row center">
	        <h2>Report Stocking Issue</h2>
	    </div>
	    <div>
	        <p class="">This form is for reporting stocking issues to the officers. Please remember that restocking 5939 and/or FR-59 after a call
is the responsibility of the driver and crew chief on the call where the supplies were used.
If supplies need to be ordered please inform the First Lieutenant. Thank you!</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row center">
	        <h2>Report Form</h2>
	    </div>
		<div>
			TODO: add report form
		</div>
	</div>
</div>
