<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">Supervisor Training</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Event EMS Supervisor (EES)</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <p class="">Event EMS Supervisors (EES) are full crew chiefs who have been specially trained to supervise RPI Ambulance operations at special events and functions. The EES-in charge (Radio Callsign: Unit 900) acts as a in-house dispatcher and medical supervisor.</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px; margin-top: 20px;">
	    <div class="row center">
	        <h2>EES Forms</h2>
	    </div>
	    <div style="margin-bottom: 20px; margin-top: 20px;">
	        <iframe frameborder="0" class="embed-responsive-item" style="width: 100% !important; height: 100% !important;" src="https://drive.google.com/embeddedfolderview?id=129pMoSn3zeKSVQVyxQKE3KePRgzkjnWn#list"></iframe>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Duty Supervisor</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <p class="">The Duty Supervisor is on call 24 hours a day to handle any emergencies, incidents, or other issues that must be handled promptly, or to assist crews or members as needed. Duty Supervisors are the most highly credentialed members in the agency. The on-duty supervisor carries a dedicated cell phone (providing members, DPS, other entities a way to always reach a knowledgeable person via phone – the cell phone is always able to be answered, and the number will not change with changes in supervisors, unlike changes in officers will). The supervisor also carries an RPIA portable and a portable 800, in order to be able to monitor and contact the duty crew or the county via radio, if necessary. The Supervisor is Car 4.</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Duty Supervisor Requirements</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <div class="col-md-12" ng-show="s.type == 'text' || s.type === undefined">
        			<p>To be a Duty Supervisor a member must satisfy the following requirements:</p>
		        	<ul>
						<li>Be a Crew Chief Trainer</li>
						<li>Be a Driver Trainer</li>
						<li>Be a First Response Crew Chief</li>
						<li>Be an EES</li>
						<li>Have a 70% of higher QI compliance rate</li>
						<li>Be evaluated and approved by a promotional board consisting of the Captain and other active Duty Supervisors</li>
					</ul>
			</div>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Current Duty Supervisors</h2>
	    </div>
	    <div style="margin-top: 10px; margin-bottom: 100px;">
	        <div class="col-md-12" ng-show="s.type == 'text' || s.type === undefined">
		        <ul>
					<li>Dan Bruce</li>
					<li>Everest Orloff</li>
					<li>Jacob Steingart (as captain)</li>
				</ul>
			</div>
	    </div>
	</div>
</div>