<!-- Carousel -->
<div id="ambulanceCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!--
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/slider/bg1-DS.jpg" alt="About RPI Ambulance" style="height: 730px">
      <div class="carousel-caption d-none d-md-block">
        <h5> RPI Ambulance </h5>
        <p> RPI Ambulance is a student run and operated Basic Life Support (BLS) transporting ambulance agency that serves the RPI campus and surrounding communities. We respond to approximately 150 to 200 calls and provide first aid coverage to about 25 special events every academic year. </p>
      </div>
    </div>
  -->
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/slider/bg2-DS.jpg" alt="About 5939" style="height: 730px">
      <div class="carousel-caption d-none d-md-block">
        <h5> 5939 </h5>
        <p> RPI Ambulance operates a 2024 AEV Traumahawk Type III ambulance mounted on a Ford E-350 chassis. This vehicle was placed in service in August of 2024. The county vehicle identifier is 5939. 5939 is the sixth ambulance operated by RPI Ambulance. The first was placed in service in 1983. </p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/slider/bg3-DS.jpg" alt="About FR-59" style="height: 730px">
      <div class="carousel-caption d-none d-md-block">
        <h5> FR-59 </h5>
        <p> First Response 59 is RPI Ambulance's first response vehicle. It is a 2007 Ford Explorer that was first placed in service with the agency in October of 2014. FR-59 is equipped to NYS Part 800.26 with a full complement of disposable medical supplies, splints, epinephrine, a glucometer and a foldable backboard. </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#ambulanceCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#ambulanceCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>


<!-- Upcoming Events -->
<!--
<section id="upcoming-events">
    <div class="container">
        <div class="center">
            <h2>Upcoming Events</h2>
        </div>
    </div>
</section>
-->

<!-- Partners -->
<section id="partners" class="ng-scope">
  <div class="container-fluid">
    <div class="row partners">
      <div class="center">
        <h2 style="margin-top: 10px;">
          Other Agencies
        </h2>
        <p class="lead">
          RPI Ambulance works with other agencies both within the RPI community and throughout the
          City of Troy and Rensselaer County.
        </p>
      </div>
      <div class="center">
        <ul>
          <li><a href="https://publicsafety.rpi.edu/"><img class="partner" data-wow-duration="1000ms" alt="RPI Public Safety Logo" title="RPI Public Safey" data-wow-delay="300ms" src="/assets/partners/new/pubsafe.svg"></a></li>
          <li><a href="http://studenthealth.rpi.edu/"><img class="partner" data-wow-duration="1000ms" alt="RPI Student Health Logo" title="RPI Student Health" data-wow-delay="600ms" src="/assets/partners/new/shc.svg"></a></li>
          <li><a href="http://www.remo-ems.com/"><img class="partner" data-wow-duration="1000ms" alt="REMO Logo" title="REMO" data-wow-delay="900ms" src="/assets/partners/new/remo.svg"></a></li>
          <li><a href="https://www.rensco.com/276/Public-Safety/"><img class="partner" data-wow-duration="1000ms" alt="RENSCO Logo" title="RENSCO" data-wow-delay="1200ms" src="/assets/partners/RENSCO.svg"></a></li>
          <li><a href="https://www.troyny.gov/194/Fire-Department"><img class="partner" data-wow-duration="1000ms" alt="Troy Fire Department Logo" title="Troy Fire Department" data-wow-delay="1500ms" src="/assets/partners/new/tfd.svg"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>