<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">About RPI Ambulance</span>
	        </h2>
	    </div>
	</div>
	<div>
	    <div>
	        <p> RPI Ambulance is a student run and operated Basic Life Support (BLS) transporting ambulance agency that serves the RPI campus and surrounding communities. We respond to approximately 150 to 200 calls and provide first aid coverage to about 30 special events every academic year. All students of RPI are eligible to join RPI Ambulance, no previous experience is necessary. Members can train to become drivers, crew chiefs or just come to help out!</p>
	    </div>
	</div>
	<div>
	    <div class="row center">
	        <h2>Our History</h2>
	    </div>
	    <div>
	        <p class="">RPI Ambulance was founded in 1977 as the first EMS agency in Troy and the surrounding area. Today, RPIA serves the RPI campus as well as some of the surrounding towns. We mainly respond to on-campus calls, but also receive mutual aid calls to Brunswick, North Greenbush (including Wynantskill and Defreestville), and Poestenkill.</p>
	    </div>
	</div>
	<div class="row center">
		<img class="center-block" src="img/new_fleet.jpg" alt="RPI Ambulance's Fleet" height="auto" style="margin-bottom:10px" src="assets/new_fleet.jpg">
	</div>
</div>