<div class="container">
	<div class="row">
		<h2>Current Week</h2>
		<div class="btn-toolbar justify-content-end">
			<a class="btn btn-danger mx-2" href="#"><</a>
			<a class="btn btn-danger mx-2" href="#">Today</a>
			<a class="btn btn-danger mx-2" href="#">></a>
		</div>
	</div>
	<div class="row">
		<table class="table table-bordered table-striped">
		<tr>
			<th>Date</th>
			<th>Crew Chief</th>
			<th>Driver</th>
			<th>Rider</th>
			<th>Rider</th>
		</tr>
		<tr></tr>
		</table>
	</div>
</div>
