<div class="container mt-5" id="NightCrews">
	<div class="row">
		<div class="col-sm">
			<h2>Current Week</h2>
		</div>
		<div class="col-sm btn-toolbar justify-content-end">
			<a class="btn btn-danger mx-1" href="/crew-schedule"><</a>
			<a class="btn btn-danger mx-1" href="/crew-schedule">Today</a>
			<a *ngIf="canModifySchedule" class="btn btn-danger mx-1" href="/modify-schedule">Edit</a>
			<a class="btn btn-danger mx-1" href="/crew-schedule">></a>
		</div>
	</div>
	<div class="row mt-3">
		<table class="table table-bordered">
		<tr>
			<th>Date</th>
			<th>Crew Chief</th>
			<th>Driver</th>
			<th>Rider</th>
			<th>Rider</th>
		</tr>
		<tr>
			<td>Sunday<br>10/06/24</td>
			<td>R. Rescue</td>
			<td>R. Rescue</td>
			<td>R. Rescue</td>
			<td>R. Rescue</td>
		</tr>
		<tr>
			<td>Monday<br>10/07/24</td>
			<td>R. Rescue</td>
			<td>R. Rescue</td>
			<td>R. Rescue</td>
			<td>R. Rescue</td>
		</tr>
		</table>
	</div>
</div>
