<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">CPR Certification</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div style="margin-bottom: 30px;">
	        <p>RPI Ambulance typically holds CPR and First Aid classes through each semester. Certification is provided by the American Heart Association and is applicable for community members, lifeguards, EMS personnel, etc. Anyone part of the RPI Community can take part of one of our CPR or First Aid classes. CPR classes can also be arranged for those outside of the RPI community. Anyone interested in attending, or receiving more information about CPR training should contact us. Dates can be arranged to provide a mutually agreeable time for clubs or community groups.</p>
	    </div>
	</div>
</div>