<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">Crew Chief Training</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Crew Chief Training</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <p class="">The Crew Chief (“CC”) is operationally in charge of the duty crew. They are responsible for supervising the crew and providing proper patient care. A Probationary Crew Chief is one who may act as the Crew Chief if a Crew Chief Trainer is on the crew. A “full” Crew Chief can complete a crew and manages patient care during a call. A Crew Chief Trainer may supervise Probationary Crew Chiefs during calls, and provide training and classes. The following training requirements must be completed:</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Probationary Crew Chief</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <div class="col-md-12" ng-show="s.type == 'text' || s.type === undefined">
        			<p>To be a probationary Crew Chief a member must satisfy the following requirements:</p>
		        	<ul>
						<li>Be an Attendant</li>
						<li>Hold valid certification as Emergency Medical Technician – Basic or above in New York</li>
						<li>Complete the online NIMS IS-100, IS-200, IS-700 and IS-800 courses</li>
						<li>Complete in-service training for Albuterol, Glucometry, Epinephrine, Patella reduction and Naloxone treatment modalities</li>
						<li>Take and pass the Crew Chief class and written exam with an 80% or higher </li>
						<li>Receive instruction in PCR writing from a crew chief trainer and demonstrate proficiency using the ePCR platform.</li>
						<li>Complete the Crew Chief checklist</li>
						<li>Teach at least three attendant checklist items under the supervision of a credentialed member</li>
						<li>Pass a Crew Chief practical, including PCR writing components</li>
						<li>Perform a first response vehicle equipment check</li>
						<li>Complete a minimum of two real calls with a Crew Chief Trainer in the patient compartment and receive a passing evaluation for both</li>
						<li>Recieve joint approval from the captain and training committee</li>
					</ul>
			</div>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Crew Chief</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <div class="col-md-12" ng-show="s.type == 'text' || s.type === undefined">
        			<p>To be a Crew Chief a member must satisfy the following requirements:</p>
		        	<ul>
						<li>Be a Probationary Crew Chief</li>
						<li>Crew Chief at least two (2) calls, one of which must be a transport, and receive a passing evaluation</li>
						<li>Lead a training drill, scenario, or other agency training event</li>
						<li>Recieve joint approval from the captain and training committee</li>
					</ul>
			</div>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Crew Chief Trainer</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <div class="col-md-12" ng-show="s.type == 'text' || s.type === undefined">
        			<p>To be a Crew Chief Trainer a member must satisfy the following requirements:</p>
		        	<ul>
						<li>Complete at least ten (10) shifts as a Crew Chief or have been a CC for at least three (3) months while in service</li>
						<li>Crew Chief three (3) emergency or non- emergency calls</li>
						<li>Teach at least three (3) Crew Chief Checklist items to a trainee under the supervision of a Crew Chief Trainer</li>
						<li>Teach a training scenario or Crew Chief class to the membership under the supervision of a Crew Chief trainer</li>
						<li>Recieve joint approval from the captain and training committee</li>
					</ul>
			</div>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>National Incident Management Courses</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <div class="col-md-12" ng-show="s.type == 'text' || s.type === undefined">	        	
	        	<ul>
					<li><a href="http://training.fema.gov/is/courseoverview.aspx?code=IS-100.b">NIMS-IS-100b</a></li>
					<li><a href="http://training.fema.gov/is/courseoverview.aspx?code=IS-200.b">NIMS-IS-200b</a></li>
					<li><a href="https://training.fema.gov/is/courseoverview.aspx?code=IS-700.a">NIMS-IS-700a</a></li>
					<li><a href="http://training.fema.gov/is/courseoverview.aspx?code=IS-800.b">NIMS-IS-800b</a></li>
				</ul>
			</div>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px; margin-top: 20px;">
	    <div class="row center">
	        <h2>Crew Chief Forms</h2>
	    </div>
	    <div style="margin-bottom: 100px; margin-top: 20px;">
	        <iframe src="https://drive.google.com/embeddedfolderview?id=1G4ahYxzhOqxicFybxL5raIyQ8fDxNv49#list" width="100%" height="300" frameborder="0"></iframe>
	    </div>
	</div>
</div>