<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">Request Coverage</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div style="margin-bottom: 15px;">
	        <p>Planning an event at or around RPI? Here are a few options for RPI Ambulance coverage. Please email us at 'officers&#64;rpiambulance.com' if you are interested.</p>
	    </div>
	</div>
	<div class="pricing-area text-center" style="margin-left: 30px; margin-right: 30px;">
            <div class="row">
                <div class="col-md-4 plan price-three">
                    <ul>
                        <li class="heading-three">
                            <h1>Tier I</h1>
                            <span>$10/hour<sup>*</sup></span>
                        </li>
                        <li>Long duration; low capacity</li>
                        <li>No dedicated patient care facility</li>
                        <li>At least 1 EMT</li>
                        <li>First Response 59</li>
                        <li>Oxygen and medical supplies</li>
                    </ul>
                </div>

                <div class="col-md-4 plan price-two">
                    <ul>
                        <li class="heading-two">
                            <h1>Tier II</h1>
                            <span>$50/hour<sup>*</sup></span>
                        </li>
                        <li>Larger spectator event</li>
                        <li>No dedicated patient care facility</li>
                        <li>1–3 EMTs on field crews</li>
                        <li>5939 (remains available for 911 calls)</li>
                        <li>Oxygen and medical supplies</li>
                    </ul>
                </div>

                <div class="col-md-4 plan price-one">
                    <ul>
                        <li class="heading-one">
                            <h1>Tier III</h1>
                            <span>$150/hour<sup>*</sup></span>
                        </li>
                        <li>Large spectator events (5,000+)</li>
                        <li>Dedicated patient care facility</li>
                        <li>3–5 EMTs on field crews</li>
                        <li>5939 (dedicated standby)</li>
                        <li>2+ emergency event supervisors</li>
                    </ul>
                </div>
            </div>
        </div>
</div>