<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">New Member Training</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div style="margin-bottom: 15px;">
	        <p>Members that are new to RPI Ambulance start out as observers. Observers do not take part in patient care, and are only there to observe and learn about the operations and the equipment on the ambulance. The goal of all observers is to be promoted to Attendant. All New Members must go through a mandatory OSHA (Occupational Safety and Health Administration) safety training, a HIPAA (Health Insurance Portability and Accountability Act) patient confidentiality training and and RPI Ambulance Orientation Class.</p>
	    </div>
	</div>
	<div class="row center">
	        <h2>NRB with the class of 2019</h2>
	    </div>
	<div class="d-flex justify-content-center">
		<img style="width: 50%; margin-bottom: 30px;" src="img/new_fleet.jpg" alt="RPI Ambulance's Fleet"  src="assets/NRB-2019.jpg" align="center">
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
		<div class="row center">
	        <h2>New Member Documents</h2>
	    </div>
	    <div class="embed-responsive embed-responsive-16by9"> <iframe src="https://drive.google.com/embeddedfolderview?id=1SZ8j82MaPZ4MImS3TJp6L2CuECajaiRZ" width="100%" height="250" frameborder="0"></iframe></div>
	</div>
</div>