<div class="container-fluid justify-content-center">
  <!-- Header -->
  <div class="row text-center" style="margin-top: 20px;">
    <h2 class="view-header">
      <span [innerHTML]="pageHeader">Fuel Log</span>
    </h2>
  </div>

  <!-- Button and Filter -->
  <div class="row" style="margin-bottom: 20px;">
    <!-- Add Entry Button (left) -->
    <div class="col" style="height: 40px; display: flex; margin-bottom: 10px;">
      <button class="btn btn-primary" style="height: 100%; margin: 0px;" (click)="addEntry()">Add Entry</button>
    </div>

    <!-- Filter Button Group (right, hidden on small screens) -->
    <div class="col-md-4 btn-group" style="height: 40px;" role="group">
      <button 
        class="btn btn-outline-primary" 
        [ngClass]="{'active' : selectedVehicle === 'Both'}"
        (click)="filterVehicle('Both')">Both</button>
      <button 
        class="btn btn-outline-primary" 
        [ngClass]="{'active': selectedVehicle === 'FR-59'}"
        (click)="filterVehicle('FR-59')">FR-59</button>
      <button 
        class="btn btn-outline-primary" 
        [ngClass]="{'active': selectedVehicle === '5939'}"
        (click)="filterVehicle('5939')">5939</button>
    </div>
  </div>

  <!-- Fuel Log Table -->
  <div class="row center">
    <div class="col">
      <table id="current_week" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Member</th>
            <th>Vehicle</th>
            <th>Fuel</th>
            <th>Mileage</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of filteredFuelLogs | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
            <td>{{ log.date_created }}</td>
            <td>{{ log.time_created }}</td>
            <td>{{ log.user_created }}</td>
            <td>{{ log.vehicle }}</td>
            <td>{{ log.amount }}</td>
            <td>{{ log.mileage }}</td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination Controls -->
       <style>
        .styled-pagination ::ng-deep .ngx-pagination .current
        {
          background: #c52d2f;
        }
       </style>
      <pagination-controls class="styled-pagination" (pageChange)="currentPage = $event" [autoHide]="true"></pagination-controls>
    </div>
  </div>
</div>