<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">Officer Board</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div style="margin-bottom: 30px;">
	        <p class="">The officers of RPI Ambulance are elected each year at the first general meeting in March. The officers perform day to day and long term operational and administrative tasks. The RPI Ambulance Officer Board consist of 5 officers with distinct responsibilities.</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Current Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Jacob Steingart </li>
					<li>First Lieutenant: Christian Kegel</li>
					<li>Second Lieutenant: Toby McDonald </li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Alex Mattoni</li>
					<li>Vice President: Dylan Deren</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Spring 2024 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Jacob Steingart </li>
					<li>First Lieutenant: Thomas Celuzza</li>
					<li>Second Lieutenant: Christian Kegel</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Alex Mattoni</li>
					<li>Vice President: Dylan Deren</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Fall 2023 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Jacob Steingart</li>
					<li>First Lieutenant: Thomas Celuzza</li>
					<li>Second Lieutenant: Sean Lim </li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Felicia Walbridge</li>
					<li>Vice President: Alex Mattoni</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>2022-2023 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Everest Orloff</li>
					<li>First Lieutenant: Dianna Stuzhuk</li>
					<li>Second Lieutenant: Jacob Steingart</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Tom Zelley</li>
					<li>Vice President: Francisco Alicandri</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>2021-2022 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Everest Orloff </li>
					<li>First Lieutenant: Dianna Stuzhuk</li>
					<li>Second Lieutenant: Jacob Steingart </li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Sandhya Vellayappan</li>
					<li>Vice President: Cammy Vanek</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Spring 2021 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Everest Orloff </li>
					<li>First Lieutenant: Martin Smith</li>
					<li>Second Lieutenant: Dianna Stuzhuk</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Nathan Buckley</li>
					<li>Vice President: Sandhya Vellayappan</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Fall 2020 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Logan Ramos</li>
					<li>First Lieutenant: Martin Smith</li>
					<li>Second Lieutenant: Everest Orloff</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Nathan Buckley</li>
					<li>Vice President: Sandhya Vellayappan</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>2019-2020 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Caleb Woodson </li>
					<li>First Lieutenant: Nathaniel Foye</li>
					<li>Second Lieutenant: Martin Smith</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Yaseen Mahmoud</li>
					<li>Vice President: Nathan Buckley</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Spring 2019 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Quazi Hossain </li>
					<li>First Lieutenant: John Jacangelo</li>
					<li>Second Lieutenant: Logan Ramos</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Mary Clare Crochiere</li>
					<li>Vice President: Ingrid Oprea</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Spring 2019 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Quazi Hossain </li>
					<li>First Lieutenant: John Jacangelo</li>
					<li>Second Lieutenant: Logan Ramos</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Mary Clare Crochiere</li>
					<li>Vice President: Ingrid Oprea</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Fall 2018 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: David Wolmark </li>
					<li>First Lieutenant: John Jacangelo</li>
					<li>Second Lieutenant: Logan Ramos</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Mary Clare Crochiere</li>
					<li>Vice President: Ingrid Oprea</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>2017-2018 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Harrison Leinweber</li>
					<li>First Lieutenant: David Sparkman</li>
					<li>Second Lieutenant: Sean Waclawik</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Ciera Williams</li>
					<li>Vice President: Justina Thompson</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>2016-2017 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Joshua Correira</li>
					<li>First Lieutenant: Harrison Leinweber</li>
					<li>Second Lieutenant: Jody Ostrander</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Zackery White</li>
					<li>Vice President: Mary Clare Crochiere</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>2015-2016 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Tom Manzini</li>
					<li>First Lieutenant: Brittany Rupp</li>
					<li>Second Lieutenant: Harrison Leinweber</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Ciera Williams</li>
					<li>Vice President: Rebecca Martin</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Spring 2015 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Tom Manzini </li>
					<li>First Lieutenant: Jordan Williams</li>
					<li>Second Lieutenant: Brittany Rupp</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Alexander Benzell</li>
					<li>Vice President: Rebecca Martin</li>
				</ul>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Fall 2014 Officer Board</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>
	        	<p>Line Side: </p>
				<ul>
					<li>Captain: Breanna Bernardi</li>
					<li>First Lieutenant: Drew Kopicki</li>
					<li>Second Lieutenant: Jordan Williams</li>
				</ul>
				<p>Civil Side:</p>
				<ul>
					<li>President: Alli Morgan</li>
					<li>Vice President: Elise Romberger</li>
				</ul>
	    </div>
	</div>
</div>