<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">Driver Training</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Driver Training</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <p class="">The Driver is in charge of the safe operation of the Ambulance and the safe transportation of the crew and patient on calls. Attendants may train to become a Driver under the supervision of a qualified Driver Trainer. The following are the minimum promotional requirements for a Driver:</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Probationary Driver</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <div class="col-md-12" ng-show="s.type == 'text' || s.type === undefined">
        			<p>To be a probationary Driver a member must satisfy the following requirements:</p>
		        	<ul>
						<li>Be an Attendant</li>
						<li>Hold and actively utilize a valid NYS Class D Drivers License or equivalent for a minimum of six (6) months</li>
						<li>Attend and pass the written exam for the RPI Ambulance Driver Training Classs</li>
						<li>Hold a CEVO, EVOC or RPI Ambulance EVDD Certification</li>
						<li>Complete the Driver Checklist</li>
						<li>Complete the online NIMS IS-100, IS-200, IS-700 and IS-800 courses</li>
						<li>Complete and submit copy of an Ambulance Vehicle Checklist</li>
						<li>Complete at least five (5) hours of behind the wheel training under the supervision of a Driver Trainer</li>
						<li>Drive the first response vehicle with a driver trainer</li>
						<li>Drive a minimum of two (2) calls in non-emergency mode and receive passing evaluations from a trainer. A driver trainer must accompany the trainee in the driver compartment during these calls</li>
						<li>Drive a minimum of one (1) call in emergency mode and receive passing evaluations from a trainer. A driver trainer must accompany the trainee in the driver compartment during this call</li>
						<li>Drive to each Albany area hospital with a driver trainer</li>
						<li>Teach three (3) attendant checklist items under the supervision of a credentialed member</li>
						<li>Pass the Driver Practical Exam administered by a Driver Trainer</li>
						<li>Recieve joint approval from the captain and training committee</li>
					</ul>
			</div>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Driver</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <div class="col-md-12" ng-show="s.type == 'text' || s.type === undefined">
        			<p>To be a Driver a member must satisfy the following requirements:</p>
		        	<ul>
						<li>Be a Probationary Driver</li>
						<li>Drive two (2) calls as a probationary Driver and receive passing evaluations from a Trainer</li>
						<li>Recieve joint approval from the captain and training committee</li>
					</ul>
			</div>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>Driver Trainer</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <div class="col-md-12" ng-show="s.type == 'text' || s.type === undefined">
        			<p>To be a Driver Trainer a member must satisfy the following requirements:</p>
		        	<ul>
						<li>Complete at least ten (10) shifts as a Driver or have been a Driver for at least three (3) months while in service</li>
						<li>Drive three (3) EMS calls, at least one (1) of which is emergent. Emergent call requirement may be waived at the discretion of the Training Committee</li>
						<li>Teach a driver related course or drill under the supervision of a Driver Trainer</li>
						<li>Teach at least three (3) Driver Checklist items to a trainee under the supervision of a Driver Trainer</li>
						<li>Conduct at least one (1) vehicle training session with a trainee under the supervision of a Driver Trainer</li>
						<li>Recieve joint approval from the captain and training committee</li>
					</ul>
			</div>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div class="row justify-content-left">
	        <h2>National Incident Management Courses</h2>
	    </div>
	    <div style="margin-top: 10px;">
	        <div class="col-md-12" ng-show="s.type == 'text' || s.type === undefined">	        	
	        	<ul>
					<li><a href="http://training.fema.gov/is/courseoverview.aspx?code=IS-100.b">NIMS-IS-100b</a></li>
					<li><a href="http://training.fema.gov/is/courseoverview.aspx?code=IS-200.b">NIMS-IS-200b</a></li>
					<li><a href="https://training.fema.gov/is/courseoverview.aspx?code=IS-700.a">NIMS-IS-700a</a></li>
					<li><a href="http://training.fema.gov/is/courseoverview.aspx?code=IS-800.b">NIMS-IS-800b</a></li>
				</ul>
			</div>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px; margin-top: 20px;">
	    <div class="row center">
	        <h2>Driver Forms</h2>
	    </div>
	    <div style="margin-bottom: 100px; margin-top: 20px;">
	        <iframe src="https://drive.google.com/embeddedfolderview?id=1f1topQMO3GEdP0Qi5H48Z4s75_j89JYy#list" width="100%" height="300" frameborder="0"></iframe>
	    </div>
	</div>
</div>