<footer id="footer" class="midnight-blue">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            Copyright &copy; 2003&ndash;<script
              language="JavaScript"
              type="text/javascript"
            >
              document.write(
                new Date()
                  .getFullYear()
                  .toString()
                  .substr(-2)
              );
            </script>
            RPI Ambulance. All rights reserved.
          </div>
          <div class="col-sm-6">
            <ul class="pull-right">
              <li><a href="#/home">Home</a></li>
              <li><a href="#/rpia-about">About Us</a></li>
              <li><a href="#/faq">FAQ</a></li>
              <li><a href="#/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- /#footer -->