<!-- Full footer for guests -->
<section id="bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="widget">
          <h3>RPI Ambulance</h3>
          <ul>
            <li><a href="about-rpia">About Us</a></li>
            <li><a href="join">How to Join</a></li>
            <li><a href="contact-us">Contact Us</a></li>
            <li>
              <a href="https://www.hhs.gov/hipaa/index.html">HIPAA Information</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Support -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="widget">
          <h3>Support</h3>
          <ul>
            <li><a href="#/system-requirements">System Requirements</a></li>
            <li><a href="#/login">Member Login</a></li>
            <li>
              <a href="mailto:webmaster@rpiambulance.com">Contact Webmaster</a>
            </li>
            <li><a href="#/copy">Site Copyright</a></li>
          </ul>
        </div>
      </div>

      <!-- Dev -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="widget">
          <h3>Development</h3>
          <ul>
            <li>
              <a href="http://github.com/rpiambulance/website">GitHub Repository</a>
            </li>
            <li>
              <a href="https://shapebootstrap.net/item/1524962-corlate-free-responsive-business-html-template">Theme</a>
            </li>
            <li>
              <a href="https://github.com/wtg/RPI_Ambulance_Website/wiki">Documentation</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Other Agencies Tab -->
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="widget">
          <h3>Other Agencies</h3>
          <ul>
            <li>
              <a href="https://publicsafety.rpi.edu/">RPI Public Safety</a>
            </li>
            <li>
              <a href="http://studenthealth.rpi.edu/">RPI Student Health Center</a>
            </li>
            <li><a href="http://www.remo-ems.com/">REMO</a></li>
            <li>
              <a href="https://www.rensco.com/276/Public-Safety/">Rensselaer County</a>
            </li>
            <li>
              <a href="https://www.troyny.gov/194/Fire-Department">City of Troy Fire Department</a>
            </li>
            <li>
              <a href="https://www.health.ny.gov">New York State DOH</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Always displayed, even for logged in members -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        Copyright &copy; 2003&ndash;{{ currentYear }} 
        RPI Ambulance. All rights reserved.
      </div>
      <div class="col-sm-6">
        <ul class="pull-right">
          <li><a href="home">Home</a></li>
          <li><a href="about-rpia">About Us</a></li>
          <li><a href="faqs">FAQ</a></li>
          <li><a href="contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>