<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">Radio Callsigns</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <h2>RPI Callsigns</h2>
	    <p>RPI-wide identifiers are historically as follows:</p>
	    
	    <div style="margin-bottom:30px;">
	      <div>
	        <ul>
	          <li><strong>100–199:</strong> RPI DPS vehicles</li>
	          <li><strong>200–299:</strong> RPI DPS officers</li>
	          <li><strong>300–399:</strong> RPI DPS sergeants</li>
	          <li><strong>400–499:</strong> Special assignments</li>
	          <li><strong>500–699:</strong> RPI DPS "services"</li>
	          <li><strong>600–699:</strong> RPI DPS administrative personnel</li>
	          <li><strong>700–799:</strong> RPI DPS lieutenants</li>
	          <li><strong>801 and 802:</strong> RPI DPS directors and chiefs</li>
	          <li><strong>900–999:</strong> RPI Ambulance</li>
	          <li><strong>1000–1099:</strong> Environmental and Site Services</li>
	          <li><strong>1200+:</strong> Campus house cleaning staff</li>
	        </ul>
	      </div>
	    </div>

	    <h2>RPI Ambulance Callsigns</h2>
	    <p>Currently, crew chiefs and drivers are given a '900 number' within the approved range, with old numbers being recycled as needed.</p>
	    
	    <div style="margin-bottom:30px;">
	      <ul>
	        <li><strong>900:</strong> Used by event command</li>
	        <li><strong>901–908:</strong> Event identifiers according to SOPs</li>
	        <li><strong>909–919:</strong> Specialty units at events</li>
	        <li><strong>921–989:</strong> Member identifiers</li>
	        <li><strong>992–993:</strong> On-duty attendants</li>
	        <li><strong>994–999:</strong> Assigned at captain's discretion</li>
	      </ul>
	      <p>Note: 911, 939, and 959 are restricted and not used.</p>
	    </div>

	    <h2>County Callsigns</h2>
	    <p>On any other frequency, units and personnel are to identify themselves as:</p>
	    <ul style="margin-bottom:30px;">
	      <li>"5939" when representing the ambulance as a crew</li>
	      <li>"RPI Ambulance Car 1" for the Captain</li>
	      <li>"RPI Ambulance Car 2" for the First Lieutenant</li>
	      <li>"RPI Ambulance Car 3" for the Second Lieutenant</li>
	      <li>"RPI Ambulance Car 4" for the on-duty Duty Supervisor</li>
	      <li>"RPI Ambulance Car 5" for the on-duty Crew Chief</li>
	      <li>"RPI Ambulance Car 6" for the on-duty Driver</li>
	    </ul>

	    <h2>History</h2>
	    <div style="margin-bottom:30px;">
	      <p>According to John Crawford, between an indeterminate date and circa 2004, RPIA used 900 numbers. At that time, RPIA relied on Nextel phones and text message dispatches. Due to an unacceptably long response time, RPIA switched to the use of Motorola HT750s which could be used to receive county dispatches.</p>
	      <p>In the fall of 2009, then-captain Peter Ragone ordered the re-use of the 9xx identifier within the agency for three reasons:</p>
	      <ul>
	        <li>There was the potential for confusion when operating with Public Safety or other school entities.</li>
	        <li>Car numbers are only given to line officers in other agencies, and RPI having upwards of 20 cars appeared unprofessional.</li>
	        <li>Car numbers were reissued every year and required members to re-learn identifiers. Constant 900 numbers would reduce this confusion.</li>
	      </ul>
	    </div>
	</div>
</div>