<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">RPI Ambulance Standard Operating Guidelines</span>
	        </h2>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
	    <div style="margin-top: 10px;">
	        <p class="">The Standard Operating Guidelines are the primary guidelines RPI Ambulance follows in conducting our day-to-day healthcare operations. They are defined in the documents listed below. They are frequently updated by the Captain. Additionally contained here is the Exposure Control Plan, also updated by the Captain.</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px; margin-top: 20px;">
	    <div class="row justify-content-left">
	        <h2>Standard Operating Guidelines/Exposure Control Plan</h2>
	    </div>
	    <div style="margin-bottom: 100px; margin-top: 20px;">
	        <iframe src="https://drive.google.com/embeddedfolderview?id=1L1WwOH2k5j9wnZ4lPwCyxdzYyARdj7Fs#list" width="100%" height="400" frameborder="0"></iframe>
	    </div>
	</div>
</div>