<header id="header">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-xs-8">
          <div class="top-number">
            <p>
              <span class="top-number-emergency">
                <i class="fa fa-phone"></i> Emergency? Dial 911
              </span>
              <span class="top-number-non-emergency"
                >| Non-emergency:
                <a href="tel:5189007742" style="color:white;"
                  >(518) 900-RPIA</a
                ></span
              >
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-4">
          <div class="social">
            <ul class="social-share">
              <li>
                <div
                  class="top-number"
                  *ngIf="isAuthenticated"
                  style="padding-right: 5px"
                  ng-cloak
                >
                  Welcome, {{userFirstName}}!
                </div>
              </li>
              <li>
                <a href="https://www.facebook.com/rpiamb" aria-label="Visit our Facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/rpiambulance" aria-label="Visit our Instagram"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="https://reddit.com/u/RPIAMBULANCE" aria-label="Visit our Reddit Profile"
                  ><i class="fa fa-reddit-alien"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navbar -->
   <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <img src="/assets/logo.svg" alt="logo"/>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">

          <!-- Guest Links Container -->
          <ng-container *ngIf="!isAuthenticated || isHomeRoute">

            <!-- Guest Links -->
            <li class="nav-item" *ngFor="let link of guestLinks" [routerLinkActive]="['active', 'dropdown-active']" #rla="routerLinkActive">

              <!-- Guest Nav Link -->
              <ng-container *ngIf="!link.dropdownItems || link.dropdownItems.length === 0">
                <a class="nav-link" [routerLink]="link.route">{{ link.title }}</a>
              </ng-container>

              <!-- Guest Dropdowns -->
              <ng-container *ngIf="link.dropdownItems && link.dropdownItems.length > 0">
                <!-- Dropdown -->
                <li class="nav-item dropdown" [routerLinkActive]="['active']" [class.dropdown-active]="rla.isActive">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ link.title }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li *ngFor="let item of link.dropdownItems">
                      <a class="dropdown-item" [routerLink]="item.route" routerLinkActive="active">{{ item.title }}</a>
                    </li>
                  </ul>
                </li>
              </ng-container>
            </li>
          </ng-container>

          <!-- Member Links Container -->
          <ng-container *ngIf="isAuthenticated && !isAdmin && !isHomeRoute">
             <!-- Member Links -->
            <li class="nav-item" *ngFor="let link of memberLinks" [routerLinkActive]="['active', 'dropdown-active']" #rlaMember="routerLinkActive">

              <!-- Member Nav Link -->
              <ng-container *ngIf="!link.dropdownItems || link.dropdownItems.length === 0">
                <a class="nav-link" [routerLink]="link.route">{{ link.title }}</a>
              </ng-container>

              <!-- Member Dropdowns -->
              <ng-container *ngIf="link.dropdownItems && link.dropdownItems.length > 0">
                <li class="nav-item dropdown" [routerLinkActive]="['active']" [class.dropdown-active]="rlaMember.isActive">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ link.title }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li *ngFor="let item of link.dropdownItems">
                      <a class="dropdown-item" [routerLink]="item.route" routerLinkActive="active">{{ item.title }}</a>
                    </li>
                  </ul>
                </li>
              </ng-container>
            </li>
          </ng-container>

          <!-- Admin Links -->
          <ng-container *ngIf="isAuthenticated && isAdmin && !isHomeRoute">
            <li class="nav-item" *ngFor="let link of adminLinks" [routerLinkActive]="['active', 'dropdown-active']" #rlaAdmin="routerLinkActive">
              <ng-container *ngIf="!link.dropdownItems || link.dropdownItems.length === 0">
                <a class="nav-link" [routerLink]="link.route">{{ link.title }}</a>
              </ng-container>

              <ng-container *ngIf="link.dropdownItems && link.dropdownItems.length > 0">
                <!-- Dropdown -->
                <li class="nav-item dropdown" [routerLinkActive]="['active']" [class.dropdown-active]="rlaAdmin.isActive">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ link.title }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li *ngFor="let item of link.dropdownItems">
                      <a class="dropdown-item" [routerLink]="item.route" routerLinkActive="active">{{ item.title }}</a>
                    </li>
                  </ul>
                </li>
              </ng-container>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>