<div class="container-fluid justify-content-center">
	<div>
	    <div class="row center" style="margin-top: 20px;">
	        <h2 class="view-header">
	            <span ng-bind-html="pageHeader" class="ng-binding">Join The Team</span>
	        </h2>
	    </div>
	</div>
	<!-- 5939 -->
	<div style="margin-left: 40px; margin-right: 40px;">
		<div class="row justify-content-center">
	        <h2>How do I join?</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>We are always more than happy to welcome more people to our agency. If you are an active RPI student feel free to stop by one of our general body meetings to learn more. You should be able to find the dates in 'upcoming events' section on the home page. If you feel you will not be able to join us for a meeting, just reach out to us using the contact us page and we'll figure something out.</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
		<div class="row justify-content-center">
	        <h2>Are the any requirements to join?</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>None at all! All we ask is that you're willing to participate. Many of our members don't have any prior experience in EMS and we do most of our own training. Unlike many other agencies we also don't require you to be an EMT to ride with us. However, if you are interested in becoming an EMT, there is usually one class per semester.</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
		<div class="row justify-content-center">
	        <h2>I'm not an RPI student. Can I still join?</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>Reach out! We'd love to have you come out and introduce yourself and see if we can get you started. Since you are not an active student at RPI, members of the agency will have to vote you in as a new member during one of the general body meetings.</p>
	    </div>
	</div>
	<div style="margin-left: 40px; margin-right: 40px;">
		<div class="row justify-content-center">
	        <h2>Any more questions?</h2>
	    </div>
	    <div style="margin-bottom: 30px;">
	        <p>Check out our FAQ page if you have any other questions. If there is still more that you want to learn about how to join, drop us a line using the contact us page.</p>
	    </div>
	</div>
</div>